<div style="background-color: antiquewhite;padding:30px;">
    <div nz-row>
      <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }" style="background-color: white;margin-left: 7px;margin-right: 8px; margin: 8px;" *ngFor="let data of allChartData;let ind=index">
        <nz-card nzTitle="{{data[2]}}" [nzExtra]="extraTemplate" [nzActions]="[actionSetting]">
          <nz-card-meta
          nzDescription="Created on {{allChartData[ind].createdOn | date }}"
        ></nz-card-meta>
          <ng-template #extraTemplate style="text-align: left;">
        
          </ng-template>
          <ng-template #actionSetting>
            <!-- <i nz-icon nzType="setting"></i> -->
            <i nz-icon nzType="fullscreen" nzTheme="outline" (click)="viewFullscreen(ind)"></i>

          </ng-template>
            <div style="margin:5px 0px 5px 5px; display: flex;flex-direction: row;justify-content: space-between;align-items: baseline;">
                <!-- <h2><b>{{data[2]}}</b></h2> -->

            </div>
            
         <div id="mychart{{ind}}" style="margin:auto;width: 275px;height: 200px;"></div>
        </nz-card>
      </div>
      
    </div>
  </div>

  <nz-modal [(nzVisible)]="isVisible" nzWidth="700" nzTitle="" (nzOnCancel)="handleCancel()" nzOkDisabled="true" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <div nz-row>
          <div nz-col nzSpan="12" nzOffset="6">
              <h1 style="margin: auto;">{{selectedTitle}}</h1> 
              <h3 style="margin: auto;">Created On {{selectedDate  | date}}</h3>        
       
          </div>      
      </div>
      <div nz-row>
          <div  nz-col nzSpan="12" nzOffset="6">
            <div id="mychart" style="margin: auto; width: 650px;height: 420px;"> </div>
        </div>      
      </div>
      <div nz-row>
        <div  nz-col nzSpan="12" nzOffset="6">
          {{selectedText}}
      </div>      
    </div>

    </ng-container>
  </nz-modal>
  