
<h1> Hey, <br>Lets Create a fresh memory map for you !</h1>


<h3 style="margin-top: 15px;">Lets get started ! </h3>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Enter Title </nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="title" placeholder="Title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Enter Text</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <!-- <input nz-input formControlName="text" placeholder="text" /> -->
        <textarea
        formControlName="text"
        nz-input
        placeholder="text"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Select Language</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <!-- <input nz-input formControlName="language" placeholder="email" type="email" /> -->
        <nz-select formControlName="language" placeholder="language" style="width: 300px;">
            <nz-option nzValue="en" nzLabel="English"></nz-option>
            <nz-option nzValue="es" nzLabel="Spanish"></nz-option>
            <nz-option nzValue="fr" nzLabel="French"></nz-option>

            <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
          </nz-select>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>

<!-- <button (click)="clickB()"> click </button> -->
  <nz-modal [(nzVisible)]="showModal" [nzStyle]="obj" nzTitle="Your Memory map is ready !" nzOkText="Save" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
   <!-- <div id="chart" style="width: 70%;height: 350px;margin: auto;"></div> -->
   <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="12">
          <h1 style="margin: auto;">View </h1>        
      </div>      
  </div>
  <div nz-row>
      <div  nz-col nzSpan="12" style="text-align: center;">
        <div id="chart" style="width: 650px;height: 420px;"> </div>
    </div>      
  </div>
</ng-container>
  </nz-modal>