<div style="    background-image: url('/assets/mental-health-gfb8d9ea5f_1920.jpg'); background-repeat: no-repeat;width: 100%;height: 100%;">
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="6" style="display: flex;flex-direction: row;justify-content: center;">
        <div style="width: 400px;border: 1px solid #c7c7c7;padding: 15px;border-radius: 15px;margin-top:10%;background-color: antiquewhite;"> 
        <form *ngIf="viewLoginFlag" nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm('login')">
            <h1>Sign In</h1>
            <nz-form-item>
              <nz-form-control nzErrorTip="Kindly input your email!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Kindly input your Password">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Sign in</button>
            <span style="padding-left: 6px;padding-right: 6px;">Or</span>
            <a (click)="viewLoginFlag = !viewLoginFlag">Sign Up now !</a>
          </form>

          <form *ngIf="!viewLoginFlag" nz-form [formGroup]="signupForm" class="login-form" (ngSubmit)="submitForm('signup')">
                <h1>Sign up</h1>
            <nz-form-item>
              <nz-form-control nzErrorTip="Kindly input your Name">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="name" placeholder="Name" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
              <nz-form-control nzErrorTip="Kindly input your Email">
                <nz-input-group nzPrefixIcon="mail">
                  <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Kindly input your Password">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Confirm your Password">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="cnfpassword" placeholder="Confirm Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Sign up</button>
            <a style="padding-left: 10px;" (click)="viewLoginFlag = !viewLoginFlag">Already signed up ?</a>
          </form>
    
        </div>
    </div>
  </div>

</div>

